<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyBanXe1.Properties.Settings.QuanLyBanXe2ConnectionString"
            connectionString="Data Source=LUCIFER;Initial Catalog=QuanLyBanXe2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyBanXe1.Properties.Settings.ClientQuanLyBanXe2ConnectionString"
            connectionString="Data Source=|DataDirectory|\QuanLyBanXe2.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="QuanLyBanXe1.Properties.Settings.QuanLyBanXe5ConnectionString"
            connectionString="Data Source=LUCIFER;Initial Catalog=QuanLyBanXe5;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyBanXe1.Properties.Settings.ClientQuanLyBanXe5ConnectionString"
            connectionString="Data Source=|DataDirectory|\QuanLyBanXe5.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>